C:\Users\evere\Documents\College\UF\Courses\HardwareSec\EEL5716FinalProject\hw_sec
C:\Users\evere\Documents\College\UF\Courses\HardwareSec\EEL5716FinalProject\python_3_8
C:\Users\evere\Documents\College\UF\Courses\HardwareSec\FinalProject\EEL5716FinalProject\hw_sec